<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>304875387797-227mehreduj11cadoet1rl1aljtn234q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304875387797-227mehreduj11cadoet1rl1aljtn234q</string>
	<key>API_KEY</key>
	<string>AIzaSyDCqcEcbvpOXn3P9I9gDjrRCV7JpCBUpjU</string>
	<key>GCM_SENDER_ID</key>
	<string>304875387797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appus.weather</string>
	<key>PROJECT_ID</key>
	<string>weather-396bc</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-396bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304875387797:ios:b4e208450dde892a</string>
	<key>DATABASE_URL</key>
	<string>https://weather-396bc.firebaseio.com</string>
</dict>
</plist>